@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora";
}
p,.text{
  font-family: "Sora";
}
.title{
  font-family: "Oswald";
}

/* Styling the dropdown container */
.custom-dropdown-overlay .ant-dropdown-menu {
  background-color: #f7f7f7; /* Gray background */
  border-radius: 8px; /* Rounded corners */
  padding: 8px; /* Inner padding */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Shadow */
}

.ant-dropdown-menu, .ant-dropdown-menu-root, .ant-dropdown-menu-vertical
{
  max-width: 400px;
  max-height: 500px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr  1fr; /* Defines three columns */
  grid-template-rows: auto; /* Rows adjust to the content size */
  gap: 10px; /* Space between the grid items */
  
 
}
.ant-dropdown-menu-item, .ant-dropdown-menu-item-only-child{
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight:bold ;
}
.menu ,.menu:hover{
  cursor: pointer;
  color: rgba(255, 118, 55);

}
/* .advertisement{
  display: inline-block;
  animation: rotateLeftToRight 2s ease-in-out infinite alternate;
}
@keyframes rotateLeftToRight {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
} */
